<!DOCTYPE html>
<html lang="en">

<head>
    <title>ADMIN FIND</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/main3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <div class="app">
        <header class="header">
            <div class="grid__full-width">


                <div class="header_navar-background">

                    <nav class="header__navbar ">

                        <span class="header__navbar--item-1">
                            Trùm giày thể thao Adidas, Nike Kids - Capvirgo.com
                        </span>


                        <div class="header__navbar--phone">
                            <div class="header__navbar--phone-item">
                                <i class="fa-solid fa-phone header__navbar--img"></i>
                            </div>
                            <div class="header__navbar--phone-number">
                                <span class="header__navbar--phone"> 0865.431.963</span>
                            </div>
                        </div>

                        <ul class="header__navbar--list">
                            <li class="header__navbar--item" style="margin-right: 15px;">
                                Thứ 2-CN : 8h-21h30
                            </li>
                            <li class="header__navbar--item">Đăng ký</li>
                            <li class="header__navbar--item" style="margin-left: 10px;">Đăng nhập</li>
                            <!-- <li class="header__navbar-item-user">
                                <div class="header__navbar-item-user-name">
                                    <span class="header__navbar-item-user-name-Name">Tâm Nguyễn</span>
                                    <div class="header__navbar-item-user-name-list">
                                        <ul class="header__navbar-item-user-name-list1">
                                            <li class="header__navbar-item-user-name-list1-item">
                                                <a href="" class="header__navbar-item-user-name-list1-item-link">
                                                    Tài khoản của tôi
                                                </a>
                                            </li>
                                            <li class="header__navbar-item-user-name-list1-item">
                                                <a href="" class="header__navbar-item-user-name-list1-item-link">
                                                    Đơn mua
                                                </a>
                                            </li>
                                            <li class="header__navbar-item-user-name-list1-item">
                                                <a href="" class="header__navbar-item-user-name-list1-item-link">
                                                    Đăng xuất
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li> -->
                        </ul>

                    </nav>
                </div>
                <div class="header-with-seach-background">
                    <div class="header-with-seach">
                        <div class="header__logo">
                            <img src="image/logo-3.png" alt="" class="header__logo-img">
                        </div>


                        <div class="header__seach">
                            <form active="" method="post" class="header__seach-wrap" id='header-seach'>
                                <input type="text" class="header__seach-input" placeholder="Tìm kiếm sản phẩm">

                                <div class="header_seach-history">
                                    <h3 class="header__seach-history-heading">
                                        Sản phẩm
                                    </h3>
                                    <ul class="header__seach-history-list">
                                        <li class="header__seach-history-item">
                                            <a href="" class="header__seach-history-item-link" title="Giày Nike Jordan 1 Low - Light Smoke Grey rep 1:1 1:1 1:1">

                                                <img src="https://capvirgo.com/wp-content/uploads/2022/03/28482a09-300x300.jpg?v=1646128657" alt="" class="header__seach-history-item-img">
                                                <div class="header__seach-history-item-product">
                                                    <span class="header__seach-history-item-product-name">
                                                        Giày Nike Jordan 1 Low - Light Smoke Grey rep 1:1 1:1 1:1
                                                    </span>
                                                    <div class="header__seach-history-item-product-price">
                                                        <span>890.000</span>
                                                        <span class="header__seach-history-item-product-price-item">đ</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>

                                        <li class="header__seach-history-item">
                                            <a href="" class="header__seach-history-item-link" title="Giày Nike Jordan 1 Low - Light Smoke Grey rep 1:1 1:1 1:1">

                                                <img src="https://capvirgo.com/wp-content/uploads/2022/03/28482a09-300x300.jpg?v=1646128657" alt="" class="header__seach-history-item-img">
                                                <div class="header__seach-history-item-product">
                                                    <span class="header__seach-history-item-product-name">
                                                        Giày Nike Jordan 1 Low - Light Smoke Grey rep 1:1 1:1 1:1
                                                    </span>
                                                    <div class="header__seach-history-item-product-price">
                                                        <span>890.000</span>
                                                        <span class="header__seach-history-item-product-price-item">đ</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>

                                        <li class="header__seach-history-item">
                                            <a href="" class="header__seach-history-item-link" title="Giày Nike Jordan 1 Low - Light Smoke Grey rep 1:1 1:1 1:1">

                                                <img src="https://capvirgo.com/wp-content/uploads/2022/03/28482a09-300x300.jpg?v=1646128657" alt="" class="header__seach-history-item-img">
                                                <div class="header__seach-history-item-product">
                                                    <span class="header__seach-history-item-product-name">
                                                        Giày Nike Jordan 1 Low - Light Smoke Grey rep 1:1 1:1 1:1
                                                    </span>
                                                    <div class="header__seach-history-item-product-price">
                                                        <span>890.000</span>
                                                        <span class="header__seach-history-item-product-price-item">đ</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <button class="header__seach-btn">
                                        Tìm kiếm
                                    </button>
                            </form>
                        </div>



                        <div class="header__cart">
                            <div class="header__cart-wrap">
                                <img src="image/icons8-cart-64.png" style="width: 35px;">
                                <span class="header__cart-wrap-icon">giỏ hàng của bạn</span>
                                <div class="header__cart-list">
                                    <!-- <span class="header__cart-list-no-cart-msg">Chưa có sản phẩm</span> -->

                                    <h4 class="header_cart-heading">Sản phẩm đã thêm</h4>
                                    <ul class="header_cart-list-item">
                                        <li class="header_cart-item">
                                            <img src="https://capvirgo.com/wp-content/uploads/2022/03/3ae2b8dc-300x300.jpg?v=1646128970" alt="" class="header_cart-img">
                                            <div class="header_cart-item-info">

                                                <div class="header_cart-item-head">
                                                    <h5 class="header_cart-item-name">Giày trẻ em Air Jordan 4 màu hồng </h5>

                                                    <div class="header_cart-item-price-wrap">
                                                        <span class="header_cart-item-price">200.000đ</span>
                                                        <span class="header_cart-item-multiply">x</span>
                                                        <span class="header_cart-item-qbt">2</span>
                                                    </div>
                                                </div>
                                                <div class="header_cart-item-body">


                                                    <span class="header_cart-item-remove">Xóa</span>
                                                </div>

                                            </div>

                                        </li>

                                        <li class="header_cart-item">
                                            <img src="https://capvirgo.com/wp-content/uploads/2022/03/3ae2b8dc-300x300.jpg?v=1646128970" alt="" class="header_cart-img">
                                            <div class="header_cart-item-info">

                                                <div class="header_cart-item-head">
                                                    <h5 class="header_cart-item-name">Giày trẻ em Air Jordan 4 màu trắng sữa</h5>

                                                    <div class="header_cart-item-price-wrap">
                                                        <span class="header_cart-item-price">200.000đ</span>
                                                        <span class="header_cart-item-multiply">x</span>
                                                        <span class="header_cart-item-qbt">2</span>
                                                    </div>
                                                </div>
                                                <div class="header_cart-item-body">


                                                    <span class="header_cart-item-remove">Xóa</span>
                                                </div>

                                            </div>


                                        </li>

                                        <li class="header_cart-item">
                                            <img src="https://capvirgo.com/wp-content/uploads/2022/03/3ae2b8dc-300x300.jpg?v=1646128970" alt="" class="header_cart-img">
                                            <div class="header_cart-item-info">

                                                <div class="header_cart-item-head">
                                                    <h5 class="header_cart-item-name">Giày trẻ em adidas Superstar Shell Head dán dính trắng sọc xanh</h5>

                                                    <div class="header_cart-item-price-wrap">
                                                        <span class="header_cart-item-price">200.000đ</span>
                                                        <span class="header_cart-item-multiply">x</span>
                                                        <span class="header_cart-item-qbt">2</span>
                                                    </div>
                                                </div>
                                                <div class="header_cart-item-body">

                                                    <span class="header_cart-item-remove">Xóa</span>
                                                </div>

                                            </div>

                                        </li>

                                    </ul>
                                    <a href="" class="header_cart-view-cart btn btn--primary1">Xem giỏ hàng</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="header_filter-background">

                    <div class="header-filter">
                        <div class="home-filter">

                            <div class="home__heading " onclick="solveCategory(this)">
                                <h3 class="home-category "> DANH MỤC SẢN PHẨM</h3>
                                <i class="home__heading-icon fas fa-bars "></i>
                                <div class="grid__column-2-1 ">
                                    <div class="category-nth-1 ">

            
                                        <ul class="category-list ">
                                            <li class="category-item ">
                                                <img src="https://capvirgo.com/wp-content/uploads/2020/11/giay-the-thao-nam-icon.png " class="category-item-img ">
                                                <a href=" " class="category-item__link ">
                                                   Giày thể thao nam
                                               </a>
                                            </li>
            
                                            <li class="category-item ">
                                                <img src="https://capvirgo.com/wp-content/uploads/2020/11/giay-the-thao-nu-icon.png " class="category-item-img ">
                                                <a href=" " class="category-item__link ">
                                                   Giày thể thao nữ
                                               </a>
            
                                            </li>
            
                                            <li class="category-item ">
                                                <img src="https://capvirgo.com/wp-content/uploads/2017/11/adidas-icon.png " class="category-item-img ">
                                                <a href=" " class="category-item__link ">
                                                   Giày Adidas 
                                               </a>
            
                                            </li>
            
                                            <li class="category-item ">
                                                <img src="https://capvirgo.com/wp-content/uploads/2021/07/air-jordan-150x150.png " class="category-item-img ">
                                                <a href=" " class="category-item__link ">
                                                   Giày Bóng Rổ
                                               </a>
            
                                            </li>
            
                                            <li class="category-item ">
                                                <img src="https://capvirgo.com/wp-content/uploads/2021/01/hang_chinh_hang-150x150.jpg " class="category-item-img ">
                                                <a href=" " class="category-item__link ">
                                                   Giày chính hãng
                                               </a>
            
                                            </li>
            
                                            <li class="category-item ">
                                                <img src="https://capvirgo.com/wp-content/uploads/2020/11/giay-gia-tot.png " class="category-item-img ">
                                                <a href=" " class="category-item__link ">
                                                   Giá rẻ 
                                               </a>
            
                                            </li>
            
                                           
            
                                            <li class="category-item ">
                                                <img src="https://capvirgo.com/wp-content/uploads/2021/09/icon-quan-ao-tre-em-150x150.png " class="category-item-img ">
                                                <a href=" " class="category-item__link ">
                                                   Quần áo bóng đá
                                               </a>
            
                                            </li>
            
                                          
            
                                            <li class="category-item ">
                                                <img src="https://capvirgo.com/wp-content/uploads/2020/11/giay-tre-em-icon.png " class="category-item-img ">
                                                <a href=" " class="category-item__link ">
                                                   Giày thể thao trẻ em
                                               </a>
            
                                            </li>
            
                                          
            
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <a href="/index1" class="home-heading-btn ">
                                 TRANG CHỦ
                            </a>

                            <a href="#" class="home-heading-btn ">
                                 QUẢN LÝ SẢN PHẨM
                            </a>

                            <a href="/viewOrderStaff" class="home-heading-btn ">
                                 XEM CÁC ĐƠN HÀNG
                            </a>

                            <div class="home__heading-menu " style="right: 0;cursor: pointer; " onclick="solve(this) ">
                                <i class="home__heading-icon fas fa-bars " style="margin: 0 10px 0 10px; "></i>
                                <h3 class="home-category "> MENU</h3>
                            </div>


                        </div>
                    </div>
                </div>
            </div>


        </header>
        <div class="container ">
            <div class="modal_black ">
            </div>

            <div class="grid " style="width: 1150px; ">
                <div class="grid__row ">
                   <div class="cart ">
                        <h1 class="cart-heading ">KẾT QUẢ TÌM KIẾM</h1>
                        <div class="cart-detail ">
                            <table class="cart-table ">
                                <thead class="cart-table-head ">
                                    <th style="width: 7%; "></th>
                                    <th style="width: 9%; "></th>
                                    <th style="width: 42%; padding-left: 10px; ">Sản phẩm</th>
                                    <th style="width: 21%; padding-left: 10px; ">Giá</th>
                                    <th style="width: 21%; padding-left: 10px; ">Số lượng</th>
                                </thead>
                                <tbody>
                                    <tr class="cart-table-tr ">
                                        <td class="cart-table-td ">
                                            <div class="cart-icon ">
                                                <i class="fa fa-close cart-product-remove "></i></td>
                                            </div>
                                        <td class="cart-table-td-img ">
                                            <div class="cart-product-img ">
                                                <img src="https://capvirgo.com/wp-content/uploads/2022/03/9d3769a0-300x300.jpg?v=1646130124 " style="width: 60px; "></td>
                                            </div>
                                        <td >
                                            <div class="cart-product ">
                                                <div class="cart-product-link ">
                                                    <span class="cart-product-link-name ">Sản phẩm:</span>
                                                    <a href=" " class="cart-product-name ">Giày trẻ em Air Jordan 4 màu hồng</a>
                                                </div>
                                                <div class="cart-product-size ">
                                                    <span class="cart-product-size-1 ">Size: </span>
                                                    <span class="cart-product-size-2 ">29</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cart-product-price-nth ">
                                                <span class="cart-product-price-nth-link ">Giá:</span>
                                                <div class="cart-product-price ">
                                                    <span>899.000</span>
                                                    <span style="text-decoration: underline; ">đ</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cart-product-price-nth ">
                                                <span class="cart-product-price-nth-link ">Số lượng:</span>
                                                <div class="cart-product-price ">
                                                    <span>899.000</span>
                                                    <span style="text-decoration: underline; ">đ</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="cart-table-tr ">
                                        <td class="cart-table-td ">
                                            <div class="cart-icon ">
                                                <i class="fa fa-close cart-product-remove "></i></td>
                                            </div>
                                        <td class="cart-table-td-img ">
                                            <div class="cart-product-img ">
                                                <img src="https://capvirgo.com/wp-content/uploads/2022/03/9d3769a0-300x300.jpg?v=1646130124 " style="width: 60px; "></td>
                                            </div>
                                        <td >
                                            <div class="cart-product ">
                                                <div class="cart-product-link ">
                                                    <span class="cart-product-link-name ">Sản phẩm:</span>
                                                    <a href=" " class="cart-product-name ">Giày trẻ em Air Jordan 4 màu hồng</a>
                                                </div>
                                                <div class="cart-product-size ">
                                                    <span class="cart-product-size-1 ">Size: </span>
                                                    <span class="cart-product-size-2 ">29</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cart-product-price-nth ">
                                                <span class="cart-product-price-nth-link ">Giá:</span>
                                                <div class="cart-product-price ">
                                                    <span>899.000</span>
                                                    <span style="text-decoration: underline; ">đ</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cart-product-price-nth ">
                                                <span class="cart-product-price-nth-link ">Số lượng:</span>
                                                <div class="cart-product-price ">
                                                    <span>899.000</span>
                                                    <span style="text-decoration: underline; ">đ</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="cart-table-tr ">
                                        <td class="cart-table-td ">
                                            <div class="cart-icon ">
                                                <i class="fa fa-close cart-product-remove "></i></td>
                                            </div>
                                        <td class="cart-table-td-img ">
                                            <div class="cart-product-img ">
                                                <img src="https://capvirgo.com/wp-content/uploads/2022/03/9d3769a0-300x300.jpg?v=1646130124 " style="width: 60px; "></td>
                                            </div>
                                        <td >
                                            <div class="cart-product ">
                                                <div class="cart-product-link ">
                                                    <span class="cart-product-link-name ">Sản phẩm:</span>
                                                    <a href=" " class="cart-product-name ">Giày trẻ em Air Jordan 4 màu hồng</a>
                                                </div>
                                                <div class="cart-product-size ">
                                                    <span class="cart-product-size-1 ">Size: </span>
                                                    <span class="cart-product-size-2 ">29</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cart-product-price-nth ">
                                                <span class="cart-product-price-nth-link ">Giá:</span>
                                                <div class="cart-product-price ">
                                                    <span>899.000</span>
                                                    <span style="text-decoration: underline; ">đ</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cart-product-price-nth ">
                                                <span class="cart-product-price-nth-link ">Số lượng:</span>
                                                <div class="cart-product-price ">
                                                    <span>899.000</span>
                                                    <span style="text-decoration: underline; ">đ</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="6 " style="text-align: end; border-bottom: 2px solid var(--border-color); "> 
                                            <div class="cart-button-update-nth ">
                                                <button class="cart-buttton-update ">Cập nhật giỏ hàng</button> 
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                   </div>
                </div>

                <div class="grid__row " style="display: flex; justify-content: flex-end; ">
                    <div class="cart-pay ">
                        <h2 class="cart-pay-heading ">CỘNG GIỎ HÀNG</h2>
                        <table style="width: 100%; margin-bottom: 20px; border-spacing: 0; ">
                            <tr>
                                <td style="width: 50%; border-right: none;border-top: 2px solid var(--border-color); "> <span class="cart-pay-span ">Số lượng </span></td>
                                <td style="border-left: none; border-top: 2px solid var(--border-color); "> 
                                    <div class="cart-product-price " style="color: var(--text-color); ">
                                        <span>899.000</span>
                                        <span style="text-decoration: underline; ">đ</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 50%; border-right: none; "> <span class="cart-pay-span ">Giao hàng </span></td>
                                <td style="border-left: none; "> <span class="cart-pay-span " style="font-weight: 400; ">Phí vận chuyển sẽ tính sau </span></td>
                            </tr>
                            <tr>
                                <td style="width: 50%; border-right: none; border-bottom: 2px solid var(--border-color); "> <span class="cart-pay-span ">Tổng </span></td>
                                <td style="border-left: none; border-bottom: 2px solid var(--border-color); "> 
                                    <div class="cart-product-price " style="color: var(--text-color); font-weight: 600; ">
                                        <span>899.000</span>
                                        <span style="text-decoration: underline; ">đ</span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <a href=" " class="cart-pay-button ">Tiến hành Thanh toán</a>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer ">
            <div class="grid ">
                <div class="grid__row ">
                    <div class="grid__column-2-5-nth ">
                        <h3 class="footer_heding ">Chăm sóc khách hàng </h3>
                        <ul class="footer-list ">
                            <li class="footer-list-item ">
                                <a href=" " class="footer-list-item-link ">Trung Tâm Trợ Giúp</a>

                            </li>
                            <li class="footer-list-item ">
                                <a href=" " class="footer-list-item-link ">Hướng Dẫn Mua Hàng</a>

                            </li>
                            <li class="footer-list-item ">
                                <a href=" " class="footer-list-item-link ">Vận Chuyển</a>
                            </li>
                            <li class="footer-list-item ">
                                <a href=" " class="footer-list-item-link ">Trả Hàng & Hoàn Tiền</a>

                            </li>
                        </ul>
                    </div>

                    <div class="grid__column-2-5-nth ">
                        <h3 class="footer_heding ">Về shop </h3>
                        <ul class="footer-list ">
                            <li class="footer-list-item ">
                                <a href=" " class="footer-list-item-link ">Giới Thiệu</a>
                            </li>
                            <li class="footer-list-item ">
                                <a href=" " class="footer-list-item-link ">Chính Sách Bảo Mật</a>

                            </li>
                            <li class="footer-list-item ">
                                <a href=" " class="footer-list-item-link ">Chính Hãng</a>

                            </li>
                            <li class="footer-list-item ">
                                <a href=" " class="footer-list-item-link ">Flash Sales</a>
                            </li>
                        </ul>
                    </div>

                    <div class="grid__column-2-5-nth ">
                        <h3 class="footer_heding ">Danh mục </h3>
                        <ul class="footer-list ">
                            <li class="footer-list-item ">
                                <a href=" " class="footer-list-item-link ">Sảm Phẩm Mới Nhất</a>

                            </li>
                            <li class="footer-list-item ">
                                <a href=" " class="footer-list-item-link ">Xả hàng</a>

                            </li>
                            <li class="footer-list-item ">
                                <a href=" " class="footer-list-item-link ">Ưu Đãi Khách Hàng</a>

                            </li>
                            <li class="footer-list-item ">
                                <a href=" " class="footer-list-item-link ">Yêu Cầu Trợ Giúp</a>

                            </li>
                        </ul>
                    </div>

                    <div class="grid__column-2-5-nth ">
                        <h3 class="footer_heding ">Theo dõi </h3>
                        <ul class="footer-list ">
                            <li class="footer-list-item ">
                                <i class="footer-list-item-icon fab fa-facebook "></i>
                                <a href=" " class="footer-list-item-link ">Facebook</a>
                            </li>

                            <li class="footer-list-item ">
                                <i class="footer-list-item-icon fab fa-instagram-square "></i>
                                <a href=" " class="footer-list-item-link ">Instagram</a>
                            </li>
                        </ul>
                    </div>



                </div>
            </div>
            <div class="grid__full-width " >
                <div class="footer__bottom ">
                    <p class="footer__text "> 2022 - Bản quyền thuộc Cavirgo.com</p>
                </div>
            </div>
        </footer>
    </div>

    <script src="js/index.js "></script>
    <script>
        var check = 0;
        var checkCategory=0;
        // Search('#header-seach')
        // Active('.home-filter')
        // Cart('.header__cart-list')
        Category('.home__heading')
        // ViewImage('.img')
        ChooseSize('.product-buy')
        Sticky('.header_filter-background')
        // Menu('.home__heading--category')

        function solve(event) {
            if(checkCategory===1){
                document.querySelector(".grid__column-2-1 ").style.display = "none ";
                checkCategory=0;
            }
            var list = document.querySelectorAll(".home-heading-btn ");
            if (check === 0) {
                for (var items of list) {
                    items.style.height = '30px';
                }
                check = 1;
            } else {
                for (var items of list) {
                    items.style.height = "0px ";
                }
                check = 0;
            }
        };
        window.onresize = function(){
            var screenX = window.innerWidth;
            if(screenX<700){
                var list = document.querySelectorAll(".home-heading-btn ");
                for (var items of list) {
                    items.style.height = "0px ";
                }
            }
            var list = document.querySelectorAll(".home-heading-btn ");
            if (screenX>700) {
                for (var items of list) {
                    items.style.height = "40px ";
                }
                document.querySelector(".grid__column-2-1 ").style.display = "none ";
                document.querySelector(".grid__column-2-1 ").style.width = "24% ";
            }
        }
        function solveCategory(event) {
            var screenX = window.innerWidth;
            if(screenX<700){
                if(check===1){
                    var list = document.querySelectorAll(".home-heading-btn ");
                    for (var items of list) {
                        items.style.height = "0px ";
                    }
                    check = 0;
                }

                if (checkCategory===0){
                    document.querySelector(".grid__column-2-1 ").style.display = "flex ";
                    var x = window.innerWidth-15;
                    document.querySelector(".grid__column-2-1 ").style.width = x.toString() + "px ";
                    checkCategory=1;
                }
                else{
                    document.querySelector(".grid__column-2-1 ").style.display = "none ";
                    checkCategory=0;
                }
            }
        }
    </script>
</body>

</html>