<!DOCTYPE html>
<html lang="en">

<head>
    <title>SẢN PHẨM</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="css/base.css">
    <!-- <link rel="stylesheet" href="main.css"> -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/main2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>

<body>
    <div class="app">
        <header class="header">
            <div class="grid__full-width">


                <div class="header_navar-background">

                    <nav class="header__navbar ">

                        <span class="header__navbar--item-1">
                            Trùm giày thể thao Adidas, Nike Kids - Capvirgo.com
                        </span>


                        <div class="header__navbar--phone">
                            <div class="header__navbar--phone-item">
                                <i class="fa-solid fa-phone header__navbar--img"></i>
                            </div>
                            <div class="header__navbar--phone-number">
                                <span class="header__navbar--phone"> 0865.431.963</span>
                            </div>
                        </div>

                        <ul class="header__navbar--list">
                            <li class="header__navbar--item" style="margin-right: 15px;">
                                Thứ 2-CN : 8h-21h30
                            </li>
                            <li class="header__navbar--item">Đăng ký</li>
                            <li class="header__navbar--item" style="margin-left: 10px;">Đăng nhập</li>
                            <!-- <li class="header__navbar-item-user">
                                <div class="header__navbar-item-user-name">
                                    <span class="header__navbar-item-user-name-Name">Tâm Nguyễn</span>
                                    <div class="header__navbar-item-user-name-list">
                                        <ul class="header__navbar-item-user-name-list1">
                                            <li class="header__navbar-item-user-name-list1-item">
                                                <a href="" class="header__navbar-item-user-name-list1-item-link">
                                                    Tài khoản của tôi
                                                </a>
                                            </li>
                                            <li class="header__navbar-item-user-name-list1-item">
                                                <a href="" class="header__navbar-item-user-name-list1-item-link">
                                                    Đơn mua
                                                </a>
                                            </li>
                                            <li class="header__navbar-item-user-name-list1-item">
                                                <a href="" class="header__navbar-item-user-name-list1-item-link">
                                                    Đăng xuất
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li> -->
                        </ul>

                    </nav>
                </div>
                <div class="header-with-seach-background">
                    <div class="header-with-seach">
                        <div class="header__logo">
                            <img src="logo-3.png" alt="" class="header__logo-img">
                        </div>


                        <div class="header__seach">
                            <form active="" method="post" class="header__seach-wrap" id='header-seach'>
                                <input type="text" class="header__seach-input" placeholder="Tìm kiếm sản phẩm">

                                <div class="header_seach-history">
                                    <h3 class="header__seach-history-heading">
                                        Sản phẩm
                                    </h3>
                                    <ul class="header__seach-history-list">
                                        <li class="header__seach-history-item">
                                            <a href="" class="header__seach-history-item-link" title="Giày Nike Jordan 1 Low - Light Smoke Grey rep 1:1 1:1 1:1">

                                                <img src="https://capvirgo.com/wp-content/uploads/2022/03/28482a09-300x300.jpg?v=1646128657" alt="" class="header__seach-history-item-img">
                                                <div class="header__seach-history-item-product">
                                                    <span class="header__seach-history-item-product-name">
                                                        Giày Nike Jordan 1 Low - Light Smoke Grey rep 1:1 1:1 1:1
                                                    </span>
                                                    <div class="header__seach-history-item-product-price">
                                                        <span>890.000</span>
                                                        <span class="header__seach-history-item-product-price-item">đ</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>

                                        <li class="header__seach-history-item">
                                            <a href="" class="header__seach-history-item-link" title="Giày Nike Jordan 1 Low - Light Smoke Grey rep 1:1 1:1 1:1">

                                                <img src="https://capvirgo.com/wp-content/uploads/2022/03/28482a09-300x300.jpg?v=1646128657" alt="" class="header__seach-history-item-img">
                                                <div class="header__seach-history-item-product">
                                                    <span class="header__seach-history-item-product-name">
                                                        Giày Nike Jordan 1 Low - Light Smoke Grey rep 1:1 1:1 1:1
                                                    </span>
                                                    <div class="header__seach-history-item-product-price">
                                                        <span>890.000</span>
                                                        <span class="header__seach-history-item-product-price-item">đ</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>

                                        <li class="header__seach-history-item">
                                            <a href="" class="header__seach-history-item-link" title="Giày Nike Jordan 1 Low - Light Smoke Grey rep 1:1 1:1 1:1">

                                                <img src="https://capvirgo.com/wp-content/uploads/2022/03/28482a09-300x300.jpg?v=1646128657" alt="" class="header__seach-history-item-img">
                                                <div class="header__seach-history-item-product">
                                                    <span class="header__seach-history-item-product-name">
                                                        Giày Nike Jordan 1 Low - Light Smoke Grey rep 1:1 1:1 1:1
                                                    </span>
                                                    <div class="header__seach-history-item-product-price">
                                                        <span>890.000</span>
                                                        <span class="header__seach-history-item-product-price-item">đ</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <button class="header__seach-btn">
                                        Tìm kiếm
                                    </button>
                            </form>
                        </div>



                        <div class="header__cart">
                            <div class="header__cart-wrap">
                                <img src="icons8-cart-64.png" style="width: 35px;">
                                <span class="header__cart-wrap-icon">giỏ hàng của bạn</span>
                                <div class="header__cart-list">
                                    <!-- <span class="header__cart-list-no-cart-msg">Chưa có sản phẩm</span> -->

                                    <h4 class="header_cart-heading">Sản phẩm đã thêm</h4>
                                    <ul class="header_cart-list-item">
                                        <li class="header_cart-item">
                                            <img src="https://capvirgo.com/wp-content/uploads/2022/03/3ae2b8dc-300x300.jpg?v=1646128970" alt="" class="header_cart-img">
                                            <div class="header_cart-item-info">

                                                <div class="header_cart-item-head">
                                                    <h5 class="header_cart-item-name">Giày trẻ em Air Jordan 4 màu hồng </h5>

                                                    <div class="header_cart-item-price-wrap">
                                                        <span class="header_cart-item-price">200.000đ</span>
                                                        <span class="header_cart-item-multiply">x</span>
                                                        <span class="header_cart-item-qbt">2</span>
                                                    </div>
                                                </div>
                                                <div class="header_cart-item-body">


                                                    <span class="header_cart-item-remove">Xóa</span>
                                                </div>

                                            </div>

                                        </li>

                                        <li class="header_cart-item">
                                            <img src="https://capvirgo.com/wp-content/uploads/2022/03/3ae2b8dc-300x300.jpg?v=1646128970" alt="" class="header_cart-img">
                                            <div class="header_cart-item-info">

                                                <div class="header_cart-item-head">
                                                    <h5 class="header_cart-item-name">Giày trẻ em Air Jordan 4 màu trắng sữa</h5>

                                                    <div class="header_cart-item-price-wrap">
                                                        <span class="header_cart-item-price">200.000đ</span>
                                                        <span class="header_cart-item-multiply">x</span>
                                                        <span class="header_cart-item-qbt">2</span>
                                                    </div>
                                                </div>
                                                <div class="header_cart-item-body">


                                                    <span class="header_cart-item-remove">Xóa</span>
                                                </div>

                                            </div>


                                        </li>

                                        <li class="header_cart-item">
                                            <img src="https://capvirgo.com/wp-content/uploads/2022/03/3ae2b8dc-300x300.jpg?v=1646128970" alt="" class="header_cart-img">
                                            <div class="header_cart-item-info">

                                                <div class="header_cart-item-head">
                                                    <h5 class="header_cart-item-name">Giày trẻ em adidas Superstar Shell Head dán dính trắng sọc xanh</h5>

                                                    <div class="header_cart-item-price-wrap">
                                                        <span class="header_cart-item-price">200.000đ</span>
                                                        <span class="header_cart-item-multiply">x</span>
                                                        <span class="header_cart-item-qbt">2</span>
                                                    </div>
                                                </div>
                                                <div class="header_cart-item-body">

                                                    <span class="header_cart-item-remove">Xóa</span>
                                                </div>

                                            </div>

                                        </li>

                                    </ul>
                                    <a href="" class="header_cart-view-cart btn btn--primary1">Xem giỏ hàng</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="header_filter-background">

                    <div class="header-filter">
                        <div class="home-filter">

                            <div class="home__heading " onclick="solveCategory(this)">
                                <h3 class="home-category "> DANH MỤC SẢN PHẨM</h3>
                                <i class="home__heading-icon fas fa-bars "></i>
                                <div class="grid__column-2-1 ">
                                    <div class="category-nth-1 ">

            
                                        <ul class="category-list ">
                                            <li class="category-item ">
                                                <img src="https://capvirgo.com/wp-content/uploads/2020/11/giay-the-thao-nam-icon.png " class="category-item-img ">
                                                <a href=" " class="category-item__link ">
                                                   Giày thể thao nam
                                               </a>
                                            </li>
            
                                            <li class="category-item ">
                                                <img src="https://capvirgo.com/wp-content/uploads/2020/11/giay-the-thao-nu-icon.png " class="category-item-img ">
                                                <a href=" " class="category-item__link ">
                                                   Giày thể thao nữ
                                               </a>
            
                                            </li>
            
                                            <li class="category-item ">
                                                <img src="https://capvirgo.com/wp-content/uploads/2017/11/adidas-icon.png " class="category-item-img ">
                                                <a href=" " class="category-item__link ">
                                                   Giày Adidas 
                                               </a>
            
                                            </li>
            
                                            <li class="category-item ">
                                                <img src="https://capvirgo.com/wp-content/uploads/2021/07/air-jordan-150x150.png " class="category-item-img ">
                                                <a href=" " class="category-item__link ">
                                                   Giày Bóng Rổ
                                               </a>
            
                                            </li>
            
                                            <li class="category-item ">
                                                <img src="https://capvirgo.com/wp-content/uploads/2021/01/hang_chinh_hang-150x150.jpg " class="category-item-img ">
                                                <a href=" " class="category-item__link ">
                                                   Giày chính hãng
                                               </a>
            
                                            </li>
            
                                            <li class="category-item ">
                                                <img src="https://capvirgo.com/wp-content/uploads/2020/11/giay-gia-tot.png " class="category-item-img ">
                                                <a href=" " class="category-item__link ">
                                                   Giá rẻ 
                                               </a>
            
                                            </li>
            
                                           
            
                                            <li class="category-item ">
                                                <img src="https://capvirgo.com/wp-content/uploads/2021/09/icon-quan-ao-tre-em-150x150.png " class="category-item-img ">
                                                <a href=" " class="category-item__link ">
                                                   Quần áo bóng đá
                                               </a>
            
                                            </li>
            
                                          
            
                                            <li class="category-item ">
                                                <img src="https://capvirgo.com/wp-content/uploads/2020/11/giay-tre-em-icon.png " class="category-item-img ">
                                                <a href=" " class="category-item__link ">
                                                   Giày thể thao trẻ em
                                               </a>
            
                                            </li>
            
                                          
            
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <a href="/index1" class="home-heading-btn ">
                                 TRANG CHỦ
                            </a>

                            <a href="#" class="home-heading-btn ">
                                 QUẢN LÝ SẢN PHẨM
                            </a>

                            <a href="/viewOrderStaff" class="home-heading-btn ">
                                 XEM CÁC ĐƠN HÀNG
                            </a>

                            <div class="home__heading-menu " style="right: 0;cursor: pointer; " onclick="solve(this) ">
                                <i class="home__heading-icon fas fa-bars " style="margin: 0 10px 0 10px; "></i>
                                <h3 class="home-category "> MENU</h3>
                            </div>


                        </div>
                    </div>
                </div>
            </div>


        </header>

        <div class="container ">
            <div class="modal_black "></div>
            <div class="grid container3 ">
                <div class="grid__row container2 ">
                    <div class="grid__column-4 ">
                       
                        <div class="img ">
                            <div class="img-item ">
                                <div class="img-item-tmp ">

                                    <img src="https://capvirgo.com/wp-content/uploads/2022/03/9d3769a0-600x600.jpg?v=1646130124 " alt=" " class="img-item-img ">
                                    <img src="https://capvirgo.com/wp-content/uploads/2022/03/0ab3b4dc-600x600.jpg?v=1646130123 " alt=" " class="img-item-img ">
                                    <img src="https://capvirgo.com/wp-content/uploads/2022/03/322d3717-600x600.jpg?v=1646130126 " alt=" " class="img-item-img ">
                                    <img src="https://capvirgo.com/wp-content/uploads/2022/03/94e0b517-600x600.jpg?v=1646130125 " alt=" " class="img-item-img ">
                                </div>

                            </div>


                            <ul class="img-list1 ">
                                <li class="img-list1-item ">
                                    <img src="https://capvirgo.com/wp-content/uploads/2022/03/9d3769a0-600x600.jpg?v=1646130124 " alt=" " class="img-item-img-item ">
                                </li>
                                <li class="img-list1-item ">
                                    <img src="https://capvirgo.com/wp-content/uploads/2022/03/0ab3b4dc-600x600.jpg?v=1646130123 " alt=" " class="img-item-img-item ">
                                </li>
                                <li class="img-list1-item ">
                                    <img src="https://capvirgo.com/wp-content/uploads/2022/03/322d3717-600x600.jpg?v=1646130126 " alt=" " class="img-item-img-item ">
                                </li>
                                <li class="img-list1-item ">
                                    <img src="https://capvirgo.com/wp-content/uploads/2022/03/94e0b517-600x600.jpg?v=1646130125 " alt=" " class="img-item-img-item ">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="grid__column-5 container1 ">
                        <div class="product-name ">
                            <h2 class="product-name-heading ">
                                GIÀY AIR JORDAN 1 TRẺ EM MÀU TRẮNG CAM XANH
                            </h2>
                        </div>
                        <div class="product-price ">
                            <h2 class="product-name-heading-price ">
                                <span>899.000</span>
                                <span style="text-decoration: underline; ">đ</span>
                            </h2>
                        </div>
                        <div class="product-des ">
                            <ul class="product-des-list ">
                                <li class="product-des-list ">
                                    Mã sản phẩm: AJM010022037-03
                                </li>
                                <li class="product-des-list ">
                                    Size: 22-37
                                </li>
                                <li class="product-des-list ">
                                    Màu sắc: Trắng cam xanh
                                </li>
                                <li class="product-des-list ">
                                    Hàng order 8-10 ngày
                                </li>
                                <li class="product-des-list ">
                                    Full box (Cả hộp)
                                </li>
                            </ul>
                        </div>
                        <div class="product-buy ">
                            <div class="product-buy-size ">
                                <span class="product-buy-size1 ">
                                    Size
                                </span>
                            </div>
                            <div class="product-buy-choice-size ">
                                <div class="product-buy-choice-size-item ">
                                    <span class="product-buy-choice-size-number ">
                                        22
                                    </span>
                                    <div class="product-buy-choice-size-number-hover ">
                                        <span class="product-buy-choice-size-number-1 ">
                                            22
                                        </span>
                                    </div>
                                </div>
                                <div class="product-buy-choice-size-item ">
                                    <span class="product-buy-choice-size-number ">
                                        23
                                    </span>
                                    <div class="product-buy-choice-size-number-hover ">
                                        <span class="product-buy-choice-size-number-1 ">
                                            23
                                        </span>
                                    </div>
                                </div>
                                <div class="product-buy-choice-size-item ">
                                    <span class="product-buy-choice-size-number ">
                                        24
                                    </span>
                                    <div class="product-buy-choice-size-number-hover ">
                                        <span class="product-buy-choice-size-number-1 ">
                                            24
                                        </span>
                                    </div>
                                </div>
                                <div class="product-buy-choice-size-item ">
                                    <span class="product-buy-choice-size-number ">
                                        25
                                    </span>
                                    <div class="product-buy-choice-size-number-hover ">
                                        <span class="product-buy-choice-size-number-1 ">
                                            25
                                        </span>
                                    </div>
                                </div>
                                <div class="product-buy-choice-size-item ">
                                    <span class="product-buy-choice-size-number ">
                                        26
                                    </span>
                                    <div class="product-buy-choice-size-number-hover ">
                                        <span class="product-buy-choice-size-number-1 ">
                                            26
                                        </span>
                                    </div>
                                </div>
                                <div class="product-buy-choice-size-item ">
                                    <span class="product-buy-choice-size-number ">
                                        27
                                    </span>
                                    <div class="product-buy-choice-size-number-hover ">
                                        <span class="product-buy-choice-size-number-1 ">
                                            27
                                        </span>
                                    </div>
                                </div>
                                <div class="product-buy-choice-size-item ">
                                    <span class="product-buy-choice-size-number ">
                                        28
                                    </span>

                                    <div class="product-buy-choice-size-number-hover ">
                                        <span class="product-buy-choice-size-number-1 ">
                                            28
                                        </span>
                                    </div>
                                </div>
                                <div class="product-buy-choice-size-item ">
                                    <span class="product-buy-choice-size-number ">
                                        29
                                    </span>
                                    <div class="product-buy-choice-size-number-hover ">
                                        <span class="product-buy-choice-size-number-1 ">
                                            29
                                        </span>
                                    </div>
                                </div>
                                <div class="product-buy-choice-size-item ">
                                    <span class="product-buy-choice-size-number ">
                                        30
                                    </span>
                                    <div class="product-buy-choice-size-number-hover ">
                                        <span class="product-buy-choice-size-number-1 ">
                                            30
                                        </span>
                                    </div>
                                </div>
                                <div class="product-buy-choice-size-item ">
                                    <span class="product-buy-choice-size-number ">
                                        31
                                    </span>
                                    <div class="product-buy-choice-size-number-hover ">
                                        <span class="product-buy-choice-size-number-1 ">
                                            31
                                        </span>
                                    </div>
                                </div>
                                <div class="product-buy-choice-size-item ">
                                    <span class="product-buy-choice-size-number ">
                                        32
                                    </span>
                                    <div class="product-buy-choice-size-number-hover ">
                                        <span class="product-buy-choice-size-number-1 ">
                                            32
                                        </span>
                                    </div>
                                </div>
                                <div class="product-buy-choice-size-item ">
                                    <span class="product-buy-choice-size-number ">
                                        33
                                    </span>
                                    <div class="product-buy-choice-size-number-hover ">
                                        <span class="product-buy-choice-size-number-1 ">
                                            33
                                        </span>
                                    </div>
                                </div>
                                <div class="product-buy-choice-size-item ">
                                    <span class="product-buy-choice-size-number ">
                                        34
                                    </span>
                                    <div class="product-buy-choice-size-number-hover ">
                                        <span class="product-buy-choice-size-number-1 ">
                                            34
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="product-quantify ">
                                <input type='number' value='1' aria-label='Search' class='form-control' min='1' max='10' onchange="solveInput(this) ">
                                <a href=" " class="btn--primary2 " type="submit ">Mua hàng
                                </a>
                            </div>
                        </div>
                        <div class="product-meta ">
                            <div class="product-id-1 ">
                                <span class="product-id ">
                                    Mã : 
                                </span>
                                <span class="product-id-2 ">
                                    AJM010022037-03
                                </span>
                            </div>

                            <div class="product-meta-des-1 ">
                                <span class="product-meta-des ">
                                    Mô tả : 
                                </span>
                                <span class="product-p-des ">
                                    Sản phẩm giày jordan trẻ em Capvirgo có chất lượng tốt nhất trên thị trường hiện có, chất da mềm, dễ dàng vệ sinh. Giày với ngoại hình mang phong cách thời trang, một chút cổ điển và linh hoạt; thoáng và thấm hút tốt.
                                </span>
                            </div>

                        </div>

                        <div class="product-contact ">
                            <div class="product-contact-phone ">
                                <i class="fas fa-phone-alt icon "></i>
                                <span class="product-pay-info icon2 " style="font-size: 1.6rem; ">
                                    0865.234.456
                                </span>
                            </div>
                            <div class="product-contact-mail ">
                                <i class="fas fa-envelope icon1 "></i>
                                <span class="product-pay-info ">
                                    CAPVIRGO@GMAIL.COM
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="grid__column-3 ">
                        <div class="product-pay ">
                            <ul class="product-pay-list ">
                                <li class="product-pay-list-item ">
                                    <div class="procdut-icon ">
                                        <i class="fas fa-truck-moving icon "></i>
                                    </div>
                                    <span class="product-pay-info hover1 ">
                                        GIAO HÀNG TOÀN QUỐC
                                    </span>
                                </li>
                                <li class="product-pay-list-item ">
                                    <div class="procdut-icon ">
                                        <i class="fas fa-home icon "></i>
                                    </div>
                                    <span class="product-pay-info hover1 ">
                                        THANH TOÁN TẠI NHÀ
                                    </span>
                                </li>
                                <li class="product-pay-list-item ">
                                    <div class="procdut-icon ">
                                        <i class="fas fa-exchange-alt icon "></i>
                                    </div>
                                    <span class="product-pay-info hover1 ">
                                        ĐỔI TRẢ TRONG 3 NGÀY
                                    </span>
                                </li>

                                <li class="product-pay-list-item ">
                                    <div class="procdut-icon ">
                                        <i class="fas fa-phone-alt icon "></i>
                                    </div>
                                    <span class="product-pay-info phone ">
                                        0865.431.963
                                    </span>
                                </li>
                                <li class="product-pay-list-item ">
                                    <div class="procdut-icon ">
                                        <i class="fas fa-box-open icon "></i>
                                    </div>
                                    <span class="product-pay-info ">
                                        100% Ảnh tự chụp
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="grid__row " style="margin-top: 10px;margin-bottom: 50px; ">
                    <div class="grid__row-title ">
                        <h3 class="grid__row-title-name-1 ">ĐÁNH GIÁ SẢN PHẨM </h3>
                    </div>
                    <ul class="product-comment ">
                        <li class="product-comment-item ">
                            <img src="https://secure.gravatar.com/avatar/a64b645bdadde68540e36166a8f77add?s=50&d=monsterid&r=g " alt=" " class="product-comment-item-img ">
                            <div class="product-comment-item-list ">
                                <span class="product-comment-item-list-user ">
                                    Tam Nguyen
                                </span>
                                <span class="product-comment-item-list-day ">
                                    30-02-2022 17:54
                                </span>
                                <p class="product-comment-item-list-paragraph ">
                                    Mua online làn 1 tui lo, lần 2 od vẫn hơi lo đến giờ mua n lần thành fans cứng của shop lun rồi =)))
                                </p>
                            </div>
                        </li>  
                        <li class="product-comment-item ">
                            <img src="https://secure.gravatar.com/avatar/a64b645bdadde68540e36166a8f77add?s=50&d=monsterid&r=g " alt=" " class="product-comment-item-img ">
                            <div class="product-comment-item-list ">
                                <span class="product-comment-item-list-user ">
                                    Tam Nguyen
                                </span>
                                <span class="product-comment-item-list-day ">
                                    30-02-2022 17:54
                                </span>
                                <p class="product-comment-item-list-paragraph ">
                                    Mua online làn 1 tui lo, lần 2 od vẫn hơi lo đến giờ mua n lần thành fans cứng của shop lun rồi =)))
                                </p>
                            </div>
                        </li>                        
                        <li class="product-comment-item ">
                            <img src="https://secure.gravatar.com/avatar/a64b645bdadde68540e36166a8f77add?s=50&d=monsterid&r=g " alt=" " class="product-comment-item-img ">
                            <div class="product-comment-item-list ">
                                <span class="product-comment-item-list-user ">
                                    Tam Nguyen
                                </span>
                                <span class="product-comment-item-list-day ">
                                    30-02-2022 17:54
                                </span>
                                <p class="product-comment-item-list-paragraph ">
                                    Mua online làn 1 tui lo, lần 2 od vẫn hơi lo đến giờ mua n lần thành fans cứng của shop lun rồi =)))
                                </p>
                            </div>
                        </li>                        
                        <li class="product-comment-item ">
                            <img src="https://secure.gravatar.com/avatar/a64b645bdadde68540e36166a8f77add?s=50&d=monsterid&r=g " alt=" " class="product-comment-item-img ">
                            <div class="product-comment-item-list ">
                                <span class="product-comment-item-list-user ">
                                    Tam Nguyen
                                </span>
                                <span class="product-comment-item-list-day ">
                                    30-02-2022 17:54
                                </span>
                                <p class="product-comment-item-list-paragraph ">
                                    Mua online làn 1 tui lo, lần 2 od vẫn hơi lo đến giờ mua n lần thành fans cứng của shop lun rồi =)))
                                </p>
                            </div>
                        </li>                      
                    </ul>
                    <ul class="pag-list ">
                        <li class="pag-list-item ">
                            <a href=" " class="pag-item__link ">
                                <i class="pag__link-icon fas fa-angle-left "></i>
                            </a>
                        </li>

                        <li class="pag-list-item ">
                            <a href=" " class="pag-item__link pag-item__link-active ">1</a>
                        </li>

                        <li class="pag-list-item ">
                            <a href=" " class="pag-item__link ">2</a>
                        </li>

                        <li class="pag-list-item ">
                            <a href=" " class="pag-item__link ">3</a>
                        </li>

                        <li class="pag-list-item ">
                            <a href=" " class="pag-item__link ">4</a>
                        </li>

                        <li class="pag-list-item ">
                            <a href=" " class="pag-item__link ">
                                <i class="pag__link-icon fas fa-angle-right "></i>
                            </a>
                        </li>

                    </ul>

                    <form action=" " class="product-user-comment " method="post ">
                        <span class="product-user-comment-span ">
                            Bình luận
                        </span>
                        <textarea class="product-user-comment-paragraph " rows="5 " placeholder="Mời bạn tham gia bình luận, vui lòng viết tiếng Việt có dấu "></textarea>
                        <div style="display: flex;justify-content: end;width: 100%; ">

                            <button class="product-user-comment-submit "> Gửi</button>
                        </div>
                    </form>
                </div>
                <div class="grid__row " style="margin-bottom: 20px; ">
                    <div class="grid__row-title ">
                        <h3 class="grid__row-title-name-1 ">SẢN PHẨM LIÊN QUAN </h3>
                    </div>
                    <div class="grid__column-2-5 ">
                        <div class="home-product-item ">
                            <img src="https://capvirgo.com/wp-content/uploads/2022/03/9d3769a0.jpg?v=1646130124 " alt=" " class="home-product-item-img ">
                            <div class="home-product-item__origin ">
                                <a href=" " class="home-product-item__origin-brand ">Mua ngay</a>
                            </div>
                            <h4 class="home-product-item-name ">Giày nike trẻ em Traiblazer video game đế 3 màu nhập khẩu nước ngoài</h4>
                            <div class="home-product-item-price ">
                                <div class="home-product-item-price-current ">
                                    <span>250.000</span>
                                    <span style="text-decoration: underline; ">đ</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="grid__column-2-5 ">
                        <div class="home-product-item ">
                            <img src="https://capvirgo.com/wp-content/uploads/2019/12/B6D1A356-67F4-4A7F-992A-2262C3C0121F-300x300.jpeg " alt=" " class="home-product-item-img ">
                            <div class="home-product-item__origin ">
                                <a href=" " class="home-product-item__origin-brand ">Mua ngay</a>
                            </div>
                            <h4 class="home-product-item-name ">Giày nike trẻ em Traiblazer video game đế 3 màu nhập khẩu nước ngoài</h4>
                            <div class="home-product-item-price ">
                                <div class="home-product-item-price-current ">
                                    <span>250.000</span>
                                    <span style="text-decoration: underline; ">đ</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="grid__column-2-5 ">
                        <div class="home-product-item ">
                            <img src="https://capvirgo.com/wp-content/uploads/2019/12/706BC56B-3DEA-4AD2-9C37-34C3982A977B-300x300.jpeg " alt=" " class="home-product-item-img ">
                            <div class="home-product-item__origin ">
                                <a href=" " class="home-product-item__origin-brand ">Mua ngay</a>
                            </div>
                            <h4 class="home-product-item-name ">Giày nike trẻ em Traiblazer video game đế 3 màu nhập khẩu nước ngoài</h4>
                            <div class="home-product-item-price ">
                                <div class="home-product-item-price-current ">
                                    <span>250.000</span>
                                    <span style="text-decoration: underline; ">đ</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="grid__column-2-5 ">
                        <div class="home-product-item ">
                            <img src="https://capvirgo.com/wp-content/uploads/2019/12/D46202FF-2F49-4D67-87F9-380BE9BFFEC5-300x300.jpeg " alt=" " class="home-product-item-img ">
                            <div class="home-product-item__origin ">
                                <a href=" " class="home-product-item__origin-brand ">Mua ngay</a>
                            </div>
                            <h4 class="home-product-item-name ">Giày nike trẻ em Traiblazer video game đế 3 màu nhập khẩu nước ngoài</h4>
                            <div class="home-product-item-price ">
                                <div class="home-product-item-price-current ">
                                    <span>250.000</span>
                                    <span style="text-decoration: underline; ">đ</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <footer class="footer ">
            <div class="grid ">
                <div class="grid__row ">
                    <div class="grid__column-2-5-nth ">
                        <h3 class="footer_heding ">Chăm sóc khách hàng </h3>
                        <ul class="footer-list ">
                            <li class="footer-list-item ">
                                <a href=" " class="footer-list-item-link ">Trung Tâm Trợ Giúp</a>

                            </li>
                            <li class="footer-list-item ">
                                <a href=" " class="footer-list-item-link ">Hướng Dẫn Mua Hàng</a>

                            </li>
                            <li class="footer-list-item ">
                                <a href=" " class="footer-list-item-link ">Vận Chuyển</a>
                            </li>
                            <li class="footer-list-item ">
                                <a href=" " class="footer-list-item-link ">Trả Hàng & Hoàn Tiền</a>

                            </li>
                        </ul>
                    </div>

                    <div class="grid__column-2-5-nth ">
                        <h3 class="footer_heding ">Về shop </h3>
                        <ul class="footer-list ">
                            <li class="footer-list-item ">
                                <a href=" " class="footer-list-item-link ">Giới Thiệu</a>
                            </li>
                            <li class="footer-list-item ">
                                <a href=" " class="footer-list-item-link ">Chính Sách Bảo Mật</a>

                            </li>
                            <li class="footer-list-item ">
                                <a href=" " class="footer-list-item-link ">Chính Hãng</a>

                            </li>
                            <li class="footer-list-item ">
                                <a href=" " class="footer-list-item-link ">Flash Sales</a>
                            </li>
                        </ul>
                    </div>

                    <div class="grid__column-2-5-nth ">
                        <h3 class="footer_heding ">Danh mục </h3>
                        <ul class="footer-list ">
                            <li class="footer-list-item ">
                                <a href=" " class="footer-list-item-link ">Sảm Phẩm Mới Nhất</a>

                            </li>
                            <li class="footer-list-item ">
                                <a href=" " class="footer-list-item-link ">Xả hàng</a>

                            </li>
                            <li class="footer-list-item ">
                                <a href=" " class="footer-list-item-link ">Ưu Đãi Khách Hàng</a>

                            </li>
                            <li class="footer-list-item ">
                                <a href=" " class="footer-list-item-link ">Yêu Cầu Trợ Giúp</a>

                            </li>
                        </ul>
                    </div>

                    <div class="grid__column-2-5-nth ">
                        <h3 class="footer_heding ">Theo dõi </h3>
                        <ul class="footer-list ">
                            <li class="footer-list-item ">
                                <i class="footer-list-item-icon fab fa-facebook "></i>
                                <a href=" " class="footer-list-item-link ">Facebook</a>
                            </li>

                            <li class="footer-list-item ">
                                <i class="footer-list-item-icon fab fa-instagram-square "></i>
                                <a href=" " class="footer-list-item-link ">Instagram</a>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>
            <div class="grid__full-width ">
                <div class="footer__bottom ">
                    <p class="footer__text "> 2021 - Bản quyền thuộc Capvirgo.com</p>
                </div>
            </div>
        </footer>
    </div>
    <script src="./index.js "></script>
    <script>
        var check = 0;
        var checkCategory=0;
        // Search('#header-seach')
        // Active('.home-filter')
        // Cart('.header__cart-list')
        Category('.home__heading')
        ViewImage('.img')
        ChooseSize('.product-buy')
        Sticky('.header_filter-background')
            // Menu('.home__heading--category')
        function solve(event) {
            if(checkCategory===1){
                document.querySelector(".grid__column-2-1 ").style.display = "none ";
                checkCategory=0;
            }
            var list = document.querySelectorAll(".home-heading-btn ");
            if (check === 0) {
                for (var items of list) {
                    items.style.height = '30px';
                }
                check = 1;
            } else {
                for (var items of list) {
                    items.style.height = "0px ";
                }
                check = 0;
            }
        };
        window.onresize = function(){
            var screenX = window.innerWidth;
            if(screenX<700){
                var list = document.querySelectorAll(".home-heading-btn ");
                for (var items of list) {
                    items.style.height = "0px ";
                }
            }
            var list = document.querySelectorAll(".home-heading-btn ");
            if (screenX>700) {
                for (var items of list) {
                    items.style.height = "40px ";
                }
                document.querySelector(".grid__column-2-1 ").style.display = "none ";
                document.querySelector(".grid__column-2-1 ").style.width = "24% ";
            }
        }
        function solveCategory(event) {
            var screenX = window.innerWidth;
            if(screenX<700){
                if(check===1){
                    var list = document.querySelectorAll(".home-heading-btn ");
                    for (var items of list) {
                        items.style.height = "0px ";
                    }
                    check = 0;
                }

                if (checkCategory===0){
                    document.querySelector(".grid__column-2-1 ").style.display = "flex ";
                    var x = window.innerWidth-15;
                    document.querySelector(".grid__column-2-1 ").style.width = x.toString() + "px ";
                    checkCategory=1;
                }
                else{
                    document.querySelector(".grid__column-2-1 ").style.display = "none ";
                    checkCategory=0;
                }
            }
        }
        function solveInput(){
            var number = document.querySelector(".form-control ").value;
            if(number <1){
                number=1;
            }
            if(number >10){
                number=10
            }
            document.querySelector('.form-control').value= number;
        }
    </script>
</body>

</html>