<!DOCTYPE html>
<html lang="en">
<html xmlns=http://www.w3.org/1999/xhtml xmlns:th="http://www.thymeleaf.org">
<head>
    <title>QUẢN LÝ ĐƠN HÀNG - NHÂN VIÊN</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/main3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <style>
      .btn-order:disabled {
        background-color: #888888;
        color: #ffffff;
      }
    </style>
</head>

<body>
    <div class="app">
        <div class="editEmployeeModal ">
            <div class="modal-dialog ">
                <div class="modal-content ">
                    <div>
                        <div class="modal-header ">
                            <h4 class="modal-title ">Hủy đơn</h4>
                            <button type='submit' class="close " data-dismiss="modal " aria-hidden="true " onclick="DeleteForm()">&times;</button>
                        </div>
                    </div>
                    <form action="Load " method="post ">
                        <div class="modal-body ">

                            <div class="form-group ">
                                <label class="label ">Lý do</label>
                                <textarea name="description " class="form-control " required rows='3'> Sản phẩm bị lỗi không thể bán cho khách hàng, mong quý khách thông cảm</textarea>
                            </div>

                        </div>
                        <div class="modal-footer ">
                            <input type='submit' class="btn-product " value="Xác nhận ">
                            <input style="display: none " type='text' value="${index} " name="index ">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <header class="header">
            <div class="grid__full-width">


                <div class="header_navar-background">

                    <nav class="header__navbar ">

                        <span class="header__navbar--item-1">
                            Trùm giày thể thao Adidas, Nike Kids - Capvirgo.com
                        </span>


                        <div class="header__navbar--phone">
                            <div class="header__navbar--phone-item">
                                <i class="fa-solid fa-phone header__navbar--img"></i>
                            </div>
                            <div class="header__navbar--phone-number">
                                <span class="header__navbar--phone"> 0865.431.963</span>
                            </div>
                        </div>

                        <ul class="header__navbar--list">
                            <li class="header__navbar--item" style="margin-right: 15px;">
                                Thứ 2-CN : 8h-21h30
                            </li>
                            <a href="/myAccount" class="header__navbar--item">Quản lý tài khoản</a>
                            <a href="/logout"  class="header__navbar--item">Đăng xuất</a>
                            <!-- <li class="header__navbar-item-user">
                                <div class="header__navbar-item-user-name">
                                    <span class="header__navbar-item-user-name-Name">Tâm Nguyễn</span>
                                    <div class="header__navbar-item-user-name-list">
                                        <ul class="header__navbar-item-user-name-list1">
                                            <li class="header__navbar-item-user-name-list1-item">
                                                <a href="" class="header__navbar-item-user-name-list1-item-link">
                                                    Tài khoản của tôi
                                                </a>
                                            </li>
                                            <li class="header__navbar-item-user-name-list1-item">
                                                <a href="" class="header__navbar-item-user-name-list1-item-link">
                                                    Đơn mua
                                                </a>
                                            </li>
                                            <li class="header__navbar-item-user-name-list1-item">
                                                <a href="" class="header__navbar-item-user-name-list1-item-link">
                                                    Đăng xuất
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li> -->
                        </ul>

                    </nav>
                </div>
                <div class="header-with-seach-background">
                    <div class="header-with-seach">
                        <div class="header__logo">
                            <img src="logo-3.png" alt="" class="header__logo-img">
                        </div>


                        <div class="header__seach">
                            <form active="" method="post" class="header__seach-wrap" id='header-seach'>
                                <input type="text" class="header__seach-input" placeholder="Tìm kiếm sản phẩm">

                                <div class="header_seach-history">
                                    <h3 class="header__seach-history-heading">
                                        Sản phẩm
                                    </h3>
                                    <ul class="header__seach-history-list">
                                        <li class="header__seach-history-item">
                                            <a href="" class="header__seach-history-item-link" title="Giày Nike Jordan 1 Low - Light Smoke Grey rep 1:1 1:1 1:1">

                                                <img src="https://capvirgo.com/wp-content/uploads/2022/03/28482a09-300x300.jpg?v=1646128657" alt="" class="header__seach-history-item-img">
                                                <div class="header__seach-history-item-product">
                                                    <span class="header__seach-history-item-product-name">
                                                        Giày Nike Jordan 1 Low - Light Smoke Grey rep 1:1 1:1 1:1
                                                    </span>
                                                    <div class="header__seach-history-item-product-price">
                                                        <span>890.000</span>
                                                        <span class="header__seach-history-item-product-price-item">đ</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>

                                        <li class="header__seach-history-item">
                                            <a href="" class="header__seach-history-item-link" title="Giày Nike Jordan 1 Low - Light Smoke Grey rep 1:1 1:1 1:1">

                                                <img src="https://capvirgo.com/wp-content/uploads/2022/03/28482a09-300x300.jpg?v=1646128657" alt="" class="header__seach-history-item-img">
                                                <div class="header__seach-history-item-product">
                                                    <span class="header__seach-history-item-product-name">
                                                        Giày Nike Jordan 1 Low - Light Smoke Grey rep 1:1 1:1 1:1
                                                    </span>
                                                    <div class="header__seach-history-item-product-price">
                                                        <span>890.000</span>
                                                        <span class="header__seach-history-item-product-price-item">đ</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>

                                        <li class="header__seach-history-item">
                                            <a href="" class="header__seach-history-item-link" title="Giày Nike Jordan 1 Low - Light Smoke Grey rep 1:1 1:1 1:1">

                                                <img src="https://capvirgo.com/wp-content/uploads/2022/03/28482a09-300x300.jpg?v=1646128657" alt="" class="header__seach-history-item-img">
                                                <div class="header__seach-history-item-product">
                                                    <span class="header__seach-history-item-product-name">
                                                        Giày Nike Jordan 1 Low - Light Smoke Grey rep 1:1 1:1 1:1
                                                    </span>
                                                    <div class="header__seach-history-item-product-price">
                                                        <span>890.000</span>
                                                        <span class="header__seach-history-item-product-price-item">đ</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <button class="header__seach-btn">
                                        Tìm kiếm
                                    </button>
                            </form>
                        </div>



                        <div class="header__cart">
                            <div class="header__cart-wrap">
                                <img src="/image/icons8-cart-64.png" style="width: 35px;">
                                <span class="header__cart-wrap-icon">giỏ hàng của bạn</span>
                                <div class="header__cart-list">
                                    <!-- <span class="header__cart-list-no-cart-msg">Chưa có sản phẩm</span> -->

                                    <h4 class="header_cart-heading">Sản phẩm đã thêm</h4>
                                    <ul class="header_cart-list-item">
                                        <li class="header_cart-item">
                                            <img src="https://capvirgo.com/wp-content/uploads/2022/03/3ae2b8dc-300x300.jpg?v=1646128970" alt="" class="header_cart-img">
                                            <div class="header_cart-item-info">

                                                <div class="header_cart-item-head">
                                                    <h5 class="header_cart-item-name">Giày trẻ em Air Jordan 4 màu hồng </h5>

                                                    <div class="header_cart-item-price-wrap">
                                                        <span class="header_cart-item-price">200.000đ</span>
                                                        <span class="header_cart-item-multiply">x</span>
                                                        <span class="header_cart-item-qbt">2</span>
                                                    </div>
                                                </div>
                                                <div class="header_cart-item-body">


                                                    <span class="header_cart-item-remove">Xóa</span>
                                                </div>

                                            </div>

                                        </li>

                                        <li class="header_cart-item">
                                            <img src="https://capvirgo.com/wp-content/uploads/2022/03/3ae2b8dc-300x300.jpg?v=1646128970" alt="" class="header_cart-img">
                                            <div class="header_cart-item-info">

                                                <div class="header_cart-item-head">
                                                    <h5 class="header_cart-item-name">Giày trẻ em Air Jordan 4 màu trắng sữa</h5>

                                                    <div class="header_cart-item-price-wrap">
                                                        <span class="header_cart-item-price">200.000đ</span>
                                                        <span class="header_cart-item-multiply">x</span>
                                                        <span class="header_cart-item-qbt">2</span>
                                                    </div>
                                                </div>
                                                <div class="header_cart-item-body">


                                                    <span class="header_cart-item-remove">Xóa</span>
                                                </div>

                                            </div>


                                        </li>

                                        <li class="header_cart-item">
                                            <img src="https://capvirgo.com/wp-content/uploads/2022/03/3ae2b8dc-300x300.jpg?v=1646128970" alt="" class="header_cart-img">
                                            <div class="header_cart-item-info">

                                                <div class="header_cart-item-head">
                                                    <h5 class="header_cart-item-name">Giày trẻ em adidas Superstar Shell Head dán dính trắng sọc xanh</h5>

                                                    <div class="header_cart-item-price-wrap">
                                                        <span class="header_cart-item-price">200.000đ</span>
                                                        <span class="header_cart-item-multiply">x</span>
                                                        <span class="header_cart-item-qbt">2</span>
                                                    </div>
                                                </div>
                                                <div class="header_cart-item-body">

                                                    <span class="header_cart-item-remove">Xóa</span>
                                                </div>

                                            </div>

                                        </li>

                                    </ul>
                                    <a href="" class="header_cart-view-cart btn btn--primary1">Xem giỏ hàng</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="header_filter-background">

                    <div class="header-filter">
                        <div class="home-filter">

                            <div class="home__heading " onclick="solveCategory(this)">
                                <h3 class="home-category "> DANH MỤC SẢN PHẨM</h3>
                                <i class="home__heading-icon fas fa-bars "></i>
                                <div class="grid__column-2-1 ">
                                    <div class="category-nth-1 ">

                                        <ul class="category-list ">
                                            <li class="category-item "  th:each="category : ${categories}">
                                                <img th:src="${category.picture}" class="category-item-img ">
                                                <a  th:attr="href='/admin/index1?categoryid='+${category.categoryId}" class="category-item__link " th:text="${category.name}">

                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <a href="/admin/index1" class="home-heading-btn ">
                                TRANG CHỦ
                            </a>

                            <a href="/admin/managerProductAdmin" class="home-heading-btn ">
                                QUẢN LÝ SẢN PHẨM
                            </a>

                            <a href="/admin/managerUserAdmin" class="home-heading-btn ">
                                QUẢN LÝ NGƯỜI DÙNG
                            </a>

                            <a href="/viewOrderStaff" class="home-heading-btn ">
                                XEM CÁC ĐƠN HÀNG
                            </a>

                            <div class="home__heading-menu " style="right: 0;cursor: pointer; " onclick="solve(this) ">
                                <i class="home__heading-icon fas fa-bars " style="margin: 0 10px 0 10px; "></i>
                                <h3 class="home-category "> MENU</h3>
                            </div>


                        </div>
                    </div>
                </div>
            </div>


        </header>
        <div class="container ">
            <div class="modal_black ">
            </div>

            <div class="grid " style="width: 1150px; ">
                <div class="grid__row ">
                    <div class="wrapper ">
                        <div id="page-wrapper ">
                            <div id="page-inner ">
                                <div class="row ">
                                    <div class="col-md-12 ">
                                        <h1 class="cart-heading ">ĐƠN HÀNG</h1>
                                    </div>
                                </div>


                                <div class="row ">
                                    <div class="col-md-12 ">

                                        <div class="panel panel-default ">
                                            <div class="panel-heading ">Bảng Đơn Hàng</div>
                                            <div class="panel-body ">
                                                <div class="table-responsive ">
                                                    <table class="cart-table ">
                                                        <thead class="cart-table-head ">
                                                            <th style="width: 12%;padding-left: 10px; ">Họ và Tên</th>
                                                            <th style="width: 12%;padding-left: 10px; ">Ngày mua</th>
                                                            <th style="width: 30%; padding-left: 10px; ">Địa chỉ</th>
                                                            <th style="width: 11.5%; padding-left: 10px; ">Số điện thoại</th>
                                                            <th style="width: 11.5%; padding-left: 10px; ">Tổng tiền</th>
                                                            <th style="width: 23%; padding-left: 10px; ">Action</th>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="cart-table-tr " th:each="order :${orders}">
                                                                <td class="cart-table-td ">
                                                                    <div class="cart-product-price-nth ">
                                                                        <span class="cart-product-price-nth-link " style="width: 25%; ">Họ và Tên:</span>
                                                                        <div class="cart-product-price " th:text="${order.customerName}">

                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td class="cart-table-td ">
                                                                    <div class="cart-product-price-nth ">
                                                                        <span class="cart-product-price-nth-link " style="width: 25%; ">Ngày mua:</span>
                                                                        <div class="cart-product-price " th:text="${order.ngaymua}">

                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td class="cart-table-td ">
                                                                    <div class="cart-product-price-nth ">
                                                                        <span class="cart-product-price-nth-link ">Địa chỉ:</span>
                                                                        <div class="cart-product-price " th:text="${order.address}">

                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td >
                                                                    <div class="cart-product ">
                                                                        <div class="cart-product-price-nth ">
                                                                            <span class="cart-product-price-nth-link ">Số điện thoại:</span>
                                                                            <div class="cart-product-price " th:text="${order.phone}">

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="cart-product-price-nth ">
                                                                        <span class="cart-product-price-nth-link ">Tổng tiền:</span>
                                                                        <div class="cart-product-price ">
                                                                            <span th:text="${order.totalAmount}"></span>
                                                                            <span style="text-decoration: underline; ">đ</span>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="th-td ">
<!--                                                                        <div style="width: 32%; ">-->
<!--                                                                            <button class="btn-order " onclick="Cancel(this) ">Hủy Đơn</button>-->
<!--                                                                            <input style="display: none " type="text " value="${o.id_trans} " name="deleteTrans "></input>-->
<!--                                                                        </div>-->
                                                                        <div style="width: 32%; ">
                                                                            <button class="btn-order " th:disabled="${order.shipperId != null and order.shipperId ne 0}" th:attr="id=${order.orderId}" onclick="confirmOrder(this)">Xác nhận</button>

                                                                            <input style="display: none " type="text " value="${o.id_trans} " name="deleteTrans ">
                                                                        </div>
                                                                        <div style="width: 32%; ">
                                                                            <button class="btn-order " th:attr="id=${order.orderId}" onclick="goToDetail(this)">Chi Tiết</button>
                                                                            <input style="display: none " type="text " value="${o.id_trans} " name="id_trans "></input>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
<!--                                                            <tr class="cart-table-tr ">-->
<!--                                                                <td class="cart-table-td ">-->
<!--                                                                    <div class="cart-product-price-nth ">-->
<!--                                                                        <span class="cart-product-price-nth-link " style="width: 25%; ">Họ và Tên:</span>-->
<!--                                                                        <div class="cart-product-price ">-->
<!--                                                                            Nguyễn Văn An-->
<!--                                                                        </div>-->
<!--                                                                    </div>-->
<!--                                                                </td>-->
<!--                                                                <td class="cart-table-td ">-->
<!--                                                                    <div class="cart-product-price-nth ">-->
<!--                                                                        <span class="cart-product-price-nth-link " style="width: 25%; ">Ngày mua:</span>-->
<!--                                                                        <div class="cart-product-price ">-->
<!--                                                                            12-04-2022-->
<!--                                                                        </div>-->
<!--                                                                    </div>-->
<!--                                                                </td>-->
<!--                                                                <td class="cart-table-td ">-->
<!--                                                                    <div class="cart-product-price-nth ">-->
<!--                                                                        <span class="cart-product-price-nth-link ">Địa chỉ:</span>-->
<!--                                                                        <div class="cart-product-price ">-->
<!--                                                                            Tòa B2 Học viện Bưu chính Viễn Thông, Phường Mỗ Lao, Quận Hà Đông , Tỉnh Hà Nội -->
<!--                                                                        </div>-->
<!--                                                                    </div>-->
<!--                                                                </td>-->
<!--                                                                <td >-->
<!--                                                                    <div class="cart-product ">-->
<!--                                                                        <div class="cart-product-price-nth ">-->
<!--                                                                            <span class="cart-product-price-nth-link ">Số điện thoại:</span>-->
<!--                                                                            <div class="cart-product-price ">-->
<!--                                                                                0987.654.321-->
<!--                                                                            </div>-->
<!--                                                                        </div>-->
<!--                                                                    </div>-->
<!--                                                                </td>-->
<!--                                                                <td>-->
<!--                                                                    <div class="cart-product-price-nth ">-->
<!--                                                                        <span class="cart-product-price-nth-link ">Tổng tiền:</span>-->
<!--                                                                        <div class="cart-product-price ">-->
<!--                                                                            <span>1.499.000</span>-->
<!--                                                                            <span style="text-decoration: underline; ">đ</span>-->
<!--                                                                        </div>-->
<!--                                                                    </div>-->
<!--                                                                </td>-->
<!--                                                                <td>-->
<!--                                                                    <div class="th-td ">-->
<!--                                                                        <form action="Delete " method="post " style="width: 32%; ">-->
<!--                                                                            <button class="btn-order ">Hủy Đơn</button>-->
<!--                                                                            <input style="display: none " type="text " value="${o.id_trans} " name="deleteTrans "></input>-->
<!--                                                                        </form>-->
<!--                                                                        <form action="Delete " method="post " style="width: 32%; ">-->
<!--                                                                            <button class="btn-order ">Xác nhận</button>-->
<!--                                                                            <input style="display: none " type="text " value="${o.id_trans} " name="deleteTrans "></input>-->
<!--                                                                        </form>-->
<!--                                                                        <form action="MyOrderDetail " method="post " style="width: 32%; ">-->
<!--                                                                            <button class="btn-order " type="submit ">Chi Tiết</button>-->
<!--                                                                            <input style="display: none " type="text " value="${o.id_trans} " name="id_trans "></input>-->
<!--                                                                        </form>-->
<!--                                                                    </div>-->
<!--                                                                </td>-->
<!--                                                            </tr>-->
<!--                                                            <tr class="cart-table-tr ">-->
<!--                                                                <td class="cart-table-td ">-->
<!--                                                                    <div class="cart-product-price-nth ">-->
<!--                                                                        <span class="cart-product-price-nth-link " style="width: 25%; ">Họ và Tên:</span>-->
<!--                                                                        <div class="cart-product-price ">-->
<!--                                                                            Nguyễn Văn An-->
<!--                                                                        </div>-->
<!--                                                                    </div>-->
<!--                                                                </td>-->
<!--                                                                <td class="cart-table-td ">-->
<!--                                                                    <div class="cart-product-price-nth ">-->
<!--                                                                        <span class="cart-product-price-nth-link " style="width: 25%; ">Ngày mua:</span>-->
<!--                                                                        <div class="cart-product-price ">-->
<!--                                                                            12-04-2022-->
<!--                                                                        </div>-->
<!--                                                                    </div>-->
<!--                                                                </td>-->
<!--                                                                <td class="cart-table-td ">-->
<!--                                                                    <div class="cart-product-price-nth ">-->
<!--                                                                        <span class="cart-product-price-nth-link ">Địa chỉ:</span>-->
<!--                                                                        <div class="cart-product-price ">-->
<!--                                                                            Tòa B2 Học viện Bưu chính Viễn Thông, Phường Mỗ Lao, Quận Hà Đông , Tỉnh Hà Nội -->
<!--                                                                        </div>-->
<!--                                                                    </div>-->
<!--                                                                </td>-->
<!--                                                                <td >-->
<!--                                                                    <div class="cart-product ">-->
<!--                                                                        <div class="cart-product-price-nth ">-->
<!--                                                                            <span class="cart-product-price-nth-link ">Số điện thoại:</span>-->
<!--                                                                            <div class="cart-product-price ">-->
<!--                                                                                0987.654.321-->
<!--                                                                            </div>-->
<!--                                                                        </div>-->
<!--                                                                    </div>-->
<!--                                                                </td>-->
<!--                                                                <td>-->
<!--                                                                    <div class="cart-product-price-nth ">-->
<!--                                                                        <span class="cart-product-price-nth-link ">Tổng tiền:</span>-->
<!--                                                                        <div class="cart-product-price ">-->
<!--                                                                            <span>1.499.000</span>-->
<!--                                                                            <span style="text-decoration: underline; ">đ</span>-->
<!--                                                                        </div>-->
<!--                                                                    </div>-->
<!--                                                                </td>-->
<!--                                                                <td>-->
<!--                                                                    <div class="th-td ">-->
<!--                                                                        <form action="Delete " method="post " style="width: 32%; ">-->
<!--                                                                            <button class="btn-order ">Hủy Đơn</button>-->
<!--                                                                            <input style="display: none " type="text " value="${o.id_trans} " name="deleteTrans "></input>-->
<!--                                                                        </form>-->
<!--                                                                        <form action="Delete " method="post " style="width: 32%; ">-->
<!--                                                                            <button class="btn-order ">Xác nhận</button>-->
<!--                                                                            <input style="display: none " type="text " value="${o.id_trans} " name="deleteTrans "></input>-->
<!--                                                                        </form>-->
<!--                                                                        <form action="MyOrderDetail " method="post " style="width: 32%; ">-->
<!--                                                                            <button class="btn-order " type="submit ">Chi Tiết</button>-->
<!--                                                                            <input style="display: none " type="text " value="${o.id_trans} " name="id_trans "></input>-->
<!--                                                                        </form>-->
<!--                                                                    </div>-->
<!--                                                                </td>-->
<!--                                                            </tr>-->

                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <footer class="footer ">
            <div class="grid ">
                <div class="grid__row ">
                    <div class="grid__column-2-5-nth ">
                        <h3 class="footer_heding ">Chăm sóc khách hàng </h3>
                        <ul class="footer-list ">
                            <li class="footer-list-item ">
                                <a href=" " class="footer-list-item-link ">Trung Tâm Trợ Giúp</a>

                            </li>
                            <li class="footer-list-item ">
                                <a href=" " class="footer-list-item-link ">Hướng Dẫn Mua Hàng</a>

                            </li>
                            <li class="footer-list-item ">
                                <a href=" " class="footer-list-item-link ">Vận Chuyển</a>
                            </li>
                            <li class="footer-list-item ">
                                <a href=" " class="footer-list-item-link ">Trả Hàng & Hoàn Tiền</a>

                            </li>
                        </ul>
                    </div>

                    <div class="grid__column-2-5-nth ">
                        <h3 class="footer_heding ">Về shop </h3>
                        <ul class="footer-list ">
                            <li class="footer-list-item ">
                                <a href=" " class="footer-list-item-link ">Giới Thiệu</a>
                            </li>
                            <li class="footer-list-item ">
                                <a href=" " class="footer-list-item-link ">Chính Sách Bảo Mật</a>

                            </li>
                            <li class="footer-list-item ">
                                <a href=" " class="footer-list-item-link ">Chính Hãng</a>

                            </li>
                            <li class="footer-list-item ">
                                <a href=" " class="footer-list-item-link ">Flash Sales</a>
                            </li>
                        </ul>
                    </div>

                    <div class="grid__column-2-5-nth ">
                        <h3 class="footer_heding ">Danh mục </h3>
                        <ul class="footer-list ">
                            <li class="footer-list-item ">
                                <a href=" " class="footer-list-item-link ">Sảm Phẩm Mới Nhất</a>

                            </li>
                            <li class="footer-list-item ">
                                <a href=" " class="footer-list-item-link ">Xả hàng</a>

                            </li>
                            <li class="footer-list-item ">
                                <a href=" " class="footer-list-item-link ">Ưu Đãi Khách Hàng</a>

                            </li>
                            <li class="footer-list-item ">
                                <a href=" " class="footer-list-item-link ">Yêu Cầu Trợ Giúp</a>

                            </li>
                        </ul>
                    </div>

                    <div class="grid__column-2-5-nth ">
                        <h3 class="footer_heding ">Theo dõi </h3>
                        <ul class="footer-list ">
                            <li class="footer-list-item ">
                                <i class="footer-list-item-icon fab fa-facebook "></i>
                                <a href=" " class="footer-list-item-link ">Facebook</a>
                            </li>

                            <li class="footer-list-item ">
                                <i class="footer-list-item-icon fab fa-instagram-square "></i>
                                <a href=" " class="footer-list-item-link ">Instagram</a>
                            </li>
                        </ul>
                    </div>



                </div>
            </div>
            <div class="grid__full-width " >
                <div class="footer__bottom ">
                    <p class="footer__text "> 2022 - Bản quyền thuộc Cavirgo.com</p>
                </div>
            </div>
        </footer>
    </div>

    <script src="js/index.js "></script>
    <script>
        var check = 0;
        var checkCategory=0;
        var checkAdd =0;
        var checkEdit =0;
        var checkRemove =0;
        // Search('#header-seach')
        // Active('.home-filter')
        // Cart('.header__cart-list')
        Category('.home__heading')
        // ViewImage('.img')
        ChooseSize('.product-buy')
        Sticky('.header_filter-background')
        // Menu('.home__heading--category')

        function solve(event) {
            if(checkCategory===1){
                document.querySelector(".grid__column-2-1 ").style.display = "none ";
                checkCategory=0;
            }
            var list = document.querySelectorAll(".home-heading-btn ");
            if (check === 0) {
                for (var items of list) {
                    items.style.height = '30px';
                }
                check = 1;
            } else {
                for (var items of list) {
                    items.style.height = "0px ";
                }
                check = 0;
            }
        };
        window.onresize = function(){
            var screenX = window.innerWidth;
            if(screenX<700){
                var list = document.querySelectorAll(".home-heading-btn ");
                for (var items of list) {
                    items.style.height = "0px ";
                }
            }
            var list = document.querySelectorAll(".home-heading-btn ");
            if (screenX>700) {
                for (var items of list) {
                    items.style.height = "40px ";
                }
                document.querySelector(".grid__column-2-1 ").style.display = "none ";
                document.querySelector(".grid__column-2-1 ").style.width = "24% ";
            }
        }
        function solveCategory(event) {
            var screenX = window.innerWidth;
            if(screenX<700){
                if(check===1){
                    var list = document.querySelectorAll(".home-heading-btn ");
                    for (var items of list) {
                        items.style.height = "0px ";
                    }
                    check = 0;
                }

                if (checkCategory===0){
                    document.querySelector(".grid__column-2-1 ").style.display = "flex ";
                    var x = window.innerWidth-15;
                    document.querySelector(".grid__column-2-1 ").style.width = x.toString() + "px ";
                    checkCategory=1;
                }
                else{
                    document.querySelector(".grid__column-2-1 ").style.display = "none ";
                    checkCategory=0;
                }
            }

        }

        function Cancel(event){
            document.querySelector(".editEmployeeModal ").style.display = 'block';
            preventDefault();
        }
        function DeleteForm(){
            document.querySelector(".editEmployeeModal ").style.display = 'none';
        }

        function confirmOrder(element){
            if (confirm("Bạn có muốn gửi cho ship order này không?")) {
                window.location.href = 'http://localhost:8087/order/confirm?id='+element.getAttribute("id");
            } else {
                //del làm gì cả. Ok!     ^.^
            }
        }

        function goToDetail(element){
            window.location.href = 'http://localhost:8087/viewOrderDetailStaff?orderId='+element.getAttribute("id");
        }

        manager('.cart-heading-button','Add User','Edit User')
    </script>
</body>

</html>